In [1]:
# importing necessary modules
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sn
import datetime as dt #for organizing data by date info
from IPython.core.display import display
from numpy.fft import fft, ifft  #for fft analysis

In [2]:
# Extract Data
energydata = pd.read_csv (r'C:\Users\rajpa\Final_Project\generation.csv')

In [3]:
energydata.head()

,EntityId,IsOfficial,isProjection,ShortName,Title,PublicationYear,Year,Technology,TechnologySubtype,PublicationUrl,...,FuelNote,GeneralOMNote,HeatRateNote,GeneralCostsNote,GeneralHeatRateEffNote,TechnologyNote,GeneralNote,AvgCapacityFactorNote,OnghtCptlCostDolPerKwNote,Scenario
0,NaN,Official Program Number,NaN,NaN,Dataset_name,Data_publication_year,Year,Technology,Technology_Subtype,Dataset_web_source,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Scenario
1,Unique Identifier for the record,Indicates if row is program estimate. 1 indica...,NaN,Short name for publication that is displayed i...,Name of study,Year the study was published,Year the estimate applies to,Type of technology,Technology subtype,Web source of study,...,Notes for Overnight Capital Cost field,Notes for Fuel field,Notes for all OM (Operating and maintenance) f...,Notes for Heat Rate field,Notes for cost fields,Notes for efficiency fields,Notes for technology field,Notes about the study,Notes for overnight capital cost field,NaN
2,21177,0,1.0,EPA 2010,Environmental Protection Agency (2010). Data f...,2010,2026,Biopower,Biogas,http://www.epa.gov/airmarkt/progsregs/epa-ipm/...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,21178,0,1.0,EPA 2010,Environmental Protection Agency (2010). Data f...,2010,2027,Biopower,Biogas,http://www.epa.gov/airmarkt/progsregs/epa-ipm/...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,21179,0,1.0,EPA 2010,Environmental Protection Agency (2010). Data f...,2010,2028,Biopower,Biogas,http://www.epa.gov/airmarkt/progsregs/epa-ipm/...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
overnight_captial_cost = energydata[['PublicationYear', 'Year', 'Technology', 'OnghtCptlCostDolPerKw']]
overnight_captial_cost.tail()
OCC = overnight_captial_cost.dropna(subset = ['OnghtCptlCostDolPerKw'])

In [8]:
#x = overnight_captial_cost['Technology']
y = OCC.loc[overnight_captial_cost['Technology']=='Geothermal']
y

      PublicationYear  Year  Technology OnghtCptlCostDolPerKw
468              2009  2009  Geothermal                  1630
469              2009  2010  Geothermal                  1630
470              2009  2011  Geothermal                  1630
471              2009  2012  Geothermal                  1630
472              2009  2013  Geothermal                  1630
...               ...   ...         ...                   ...
10300            2015  2013  Geothermal                  6291
10301            2015  2013  Geothermal                  6992
10302            2015  2013  Geothermal                 10718
10303            2015  2013  Geothermal                  6992
10304            2015  2013  Geothermal                 10718

[426 rows x 4 columns]

In [6]:
#ax = overnight_captial_cost.plot.scatter(x = none , y='OnghtCptlCostDolPerKw')

In [10]:
OCC['Technology'] = OCC['Technology'].astype(int)
print (OCC)

ValueError: invalid literal for int() with base 10: 'Technology'